body{
	background-color: white;
	color: black;
}
div.content-wrap{
	display: flex;

}
div.content-box{

}
div.content2{
	border: black 2px solid;
	padding: 10px 15px;
	overflow: hidden;
	word-wrap: break-word;
}
div.header2{
	margin-bottom: 10px;
	text-align: left;
}
#resultRanking{
	color: blue;
	font-size: larger;
}

.content{
	margin-bottom: 15px;
}
